
<div class="page-header">
  <div class="pull-right">
      <%= link_to root_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
  </div>
  <h1>About us</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Meet the Team</h3>
      <blockquote>
          We are a small company but high on quality
       </blockquote>
        <blockquote>
          Emer Thornbury is a Ruby on Rails developer with a passion for usability.
       </blockquote>
        <blockquote>
          Tom Thornbury is a Graphic Designer with a lot of awards behind him. His work speaks for itself.
       </blockquote>
  </div>
</div>      