<div class="page-header">
  <div class="pull-right">
      <%= link_to root_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
  </div>
  <h1>Features</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h3>Below are just some of the features we can configure for you</h3>
      <blockquote>
          Basic WordPress Template: Add your Logo, customise colours, customise font, set up basic pages for your content.
       </blockquote>
        <blockquote>
          WordPress Template 1: All the above included, more page set ups, SEO set up, blog set up.
       </blockquote>
       <blockquote>
          WordPress Template 2: All the above included, e-commerce products and shopping cart set up.
       </blockquote>
       <blockquote>
          Bespoke Design: Lets start the design dialogue!
       </blockquote>
</div>