
<div class="page-header">
  <div class="pull-right">
      <%= link_to root_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
  </div>
  <h1>Pricing Info</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Our pricing structure</h3>
      <blockquote>
          Basic WordPress Template (you provide the artwork and content, no e-commerce): €250.
       </blockquote>
        <blockquote>
          WordPress Template  (no e-commerce): €350 - €550
       </blockquote>
       <blockquote>
          WordPress Template (e-commerce): €650 - €850
       </blockquote>
       <blockquote>
          Bespoke Design: €950
       </blockquote>
  </div>
</div>